body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html[data-theme='dark']{

  --background-color: #18191A;
  --block-color: #242526;
  --text-color: white;
  --button-hover: #3A3B3C;
  --set-button-color: #b3b3b3;
  --mes-and-del-friend-but: black;
  --set-button-text-color: #323232;


}

html[data-theme='light']{
  --background-color: #F0F2F6;
  --block-color: #FFFFFF;
  --text-color: #323232;
  --button-hover: #E6E6E6;
  --set-button-color: #3A3B3C;
  --mes-and-del-friend-but: black;
  --set-button-text-color: white;
}