.friend-block{
    background-color: var(--button-hover);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--text-color);

}

.friend-block-img{
    width: 50px;
    height: 50px;
}

.message-friend-button{
    color: black;
    background-color: white;
    border: none;
    box-shadow: 0px 3px 10px  rgb(0, 0, 0, 0.25);
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.message-friend-button:hover{
    background-color: #dfdede;
}

.message-friend-button:active{
    background-color: #dfdede;
}

.delete-friend-button{
    color: black;
    background-color: #FF7777;
    border: none;
    box-shadow: 0px 3px 10px  rgb(0, 0, 0, 0.25);
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.delete-friend-button:hover{
    background-color: #fd6666;
}

.delete-friend-button:active{
    background-color: #fd6666;
}