
.header-profile-elem{
    /* background-color: #18191A; */
    background-color: #F0F2F6;
    color: #323232;
    border: none;
    /* box-shadow: 0px 4px #1d1d20; */
}

.header-profile-elem:hover{
    /* background-color: #2c2d2e; */
    background-color: #D9D9D9;
}

.header-profile-elem:active{ 
    /* background-color: #2c2d2e;   */
    background-color: #D9D9D9;
} 

.header-profile-elem:focus{
    background-color: #D9D9D9;
    outline: none;
}
