
.my-page-block{
    margin: 100px auto;
}

@media(min-width: 1100px){

    .current-page-block{
        width: 500px;
    }

    .page-menu-block{
        width: 200px;
        position: sticky;
        top: 100px;
        align-self: flex-start;
    }

    .settings-page-block{
        width: 200px;
    }

    .my-page-block{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}

@media(max-width: 1100px){
    .current-page-block{
        width: 90%;
        order: 1;
    }

    .page-menu-block{
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .settings-page-block{
        width: 90%;
        order: 0;
    }

    .my-page-block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

.no-posts-block{
    background-color: var(--block-color);
    padding: 15px;
    position: relative;
    box-shadow: 0px 3px 10px  rgb(0, 0, 0, 0.25);
    color: var(--text-color)
}